body {
    font-family: "Times New Roman", Times, serif;
    color: black;
    background-color: white;
}
h1 {
    font-family: "Times New Roman", Times, serif;
    color: black;
}
p {
    font-size: 1.3rem
}
a:link {
    color:deepskyblue;
    text-decoration: none;
}
a:visited {
    color:deepskyblue;
    text-decoration: none;
}
a:hover {
    color:deepskyblue;
    text-decoration: underline;
}
a:active {
    color:goldenrod;
    text-decoration: underline;
}
.mt-10 {
    margin-top: 6rem !important;
}