body {
    font-family: "Open Sans", Times, sans-serif;
    color: white;
    background-color: black;
}
h2 {
    font-size: 1.3rem;
    font-weight: 400;
}
p {
    font-size: 1.3rem
}
a:link {
    color:deepskyblue;
    text-decoration: none;
}
a:visited {
    color:deepskyblue;
    text-decoration: none;
}
a:hover {
    color:deepskyblue;
    text-decoration: underline;
}
a:active {
    color:goldenrod;
    text-decoration: underline;
}
.mt-10 {
    margin-top: 6rem !important;
}